/* override table width restrictions */
/* !important prevents the common CSS stylesheets from overriding
this as on RTD they are loaded after this stylesheet */

@import url("theme.css");

.rst-content table {
	width:100%
}

.rst-content th {
    /* width: max-content !important; */
    /* background-color:#2980b9 !important; */
    /* background-color: #72b4e0; */
    background-color: #2A86BF;
    color: white;
}

.rst-content .line-block {
    margin-bottom: 0px !important;
}

/* When page/screen width is <= 1024px, don't show nav side bar */
@media screen and (max-width:1024px) {
	.wy-tray-container {
		bottom:auto;
		top:0;
		width:100%
	}
	.wy-tray-container li {
		width:100%
	}
}

@media screen and (max-width:1024px) {
	.tablet-hide {
		display:none
	}
}

@media screen and (max-width:1024px) {
	.wy-nav-top {
		display:block
	}
	.wy-nav-side {
		left:-300px
	}
	.wy-nav-side.shift {
		width:30%;
		left:0
	}
	.wy-menu.wy-menu-vertical,.wy-side-nav-search,.wy-side-scroll {
		width:auto
	}
	.wy-nav-content-wrap {
		margin-left:0
	}
	.wy-nav-content-wrap .wy-nav-content {
		padding:1.618em
	}
	.wy-nav-content-wrap.shift {
		position:fixed;
		min-width:100%;
		left:30%;
		top:0;
		height:100%;
		overflow:hidden
	}
}

/* Setting for page content align-center */

.wy-body-for-nav {
	background: #efefef;
}
.wy-grid-for-nav {
    width: 1260px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.wy-nav-side {
    left: 50%;
    margin-left: -630px;
}

@media screen and (max-width:1260px) {
	.wy-grid-for-nav {
	    width: 100%;
	}

	.wy-nav-side {
        left: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 1024px) {
    .wy-nav-side {
      left: -300px;
    }
}

.wy-menu-vertical .toctree-l4.current .toctree-l5 > div {
    display: none;
    width: 300px;
    overflow-x: auto;
}

.wy-menu-vertical .toctree-l4.current .toctree-l5.current > div {
    display: block;
}

.wy-menu-vertical .toctree-l4.current .toctree-l5 > div > ul {
    display: inline-block;
    min-width: 100%;
}

.wy-menu-vertical li.toctree-l5 > div li.toctree-l6 > a {
    padding: .4045em 1.618em .4045em 8.899em;
}

.wy-menu-vertical li.toctree-l5 > div li.toctree-l6 {
    white-space: nowrap;
}

.wy-menu-vertical li.current a {
    border-right: none;
}
